<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>广播式WebSocket</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<script type="text/javascript" th:src="@{/jquery/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>


<link th:href="@{https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.css}" rel="stylesheet">
<script th:src="@{https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.js}"></script>
<script th:src="@{https://cdn.bootcss.com/layer/2.3/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/baseUtils.js}"></script>
<script type="text/javascript" th:src="@{/js/WebClient.js}"></script>
<script type="text/javascript" th:src="@{/js/websocket/webim.config.js}"></script>
<script type="text/javascript" th:src="@{/js/websocketSDK.js}"></script>
<link rel="stylesheet" th:href="@{/websocket/chat.css}">
</head>
<body onload="">
	<div class="container" style="width: 100%">
		<div class="row row-offcanvas row-offcanvas-right main-contain">
			<div class="col-xs-12 col-sm-8">
				<div>
					<div class="row form-inline">
						<div class="input-group select-input-group col-sm-2">
							<span class="input-group-addon">群组</span> <input type="text" class="form-control" placeholder="请输入房间ID"
								id="roomId" value="101">
						</div>
						<div class="input-group select-input-group col-sm-3">
							<span class="input-group-addon">登录账号</span> <input type="text" class="form-control" placeholder="请输入登录账号"
								id="userName" value="dllwh">
						</div>
						<div class="input-group select-input-group col-sm-3">
							<span class="input-group-addon">显示昵称</span> <input type="text" class="form-control" placeholder="请输入显示昵称"
								id="nickName" value="独泪了无痕">
						</div>
						<div class="input-group select-input-group col-sm-3">
							<span class="input-group-addon">成员角色</span> <select class="combobox form-control" id="role">
								<!-- 								<option value="">请选择成员角色</option> -->
								<option value="admin">管理员</option>
								<option value="member">普通成员</option>
							</select>
						</div>
					</div>
					<div>
						<div class="btn-group" role="group" aria-label="..." id="operateBut">
							<button class="btn btn-default" onclick='addSocket();'>连接</button>
							<button class="btn btn-danger disabled" onclick='closeSocket();'>断开</button>
							<button class="btn btn-success disabled" onclick='loginSocket()'>登录</button>
							<button class="btn btn-info disabled" onclick="logout();">退出</button>
							<button class="btn btn-warning disabled">警告按钮</button>
						</div>
						<div style='margin-top: 10px; margin-button: 10px'>
							<pre style="white-space: pre-wrap; word-wrap: break-word;">本工具主要是为了测试服务端websocket功能是否完善可用而开发，主要是利用html5 的websocket去连接服务端的websocket,因此，无论你是内网还是外网都可使用!服务端只是实现了接受和发送，这里只是测试而已！</pre>
						</div>
					</div>
					<div class="row">
						<div id="output" style="border: 1px solid #ccc; height: 365px; overflow: auto; margin-left: 15px"></div>
						<div class="col-lg-6">
							<div class="input-group" style=''>
								<input type="text" id='message' class="form-control" style='width: 810px' placeholder="待发信息"
									onkeydown="en(event);"> <span class="input-group-btn">
									<button class="btn btn-default" type="button" onclick="doSend();">发送</button>
									<button class="btn btn-default" type="button" onclick="clean();">清空</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar">
				<ul class='leftul'>
					<li class='leftulli'><span style='font-weight: bold'>在线用户</span>
						<ul class='siteleadul'>
							<li>1</li>
							<li>1</li>
							<li>1</li>
							<li>1</li>
							<li>1</li>
						</ul></li>
				</ul>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	document.οncοntextmenu = function(ev) {
		return false; //屏蔽右键菜单
	}
	
	websocketService.serverInfo();
	var option = {
		appId : "web",
		roomId : $("#roomId").val(),
		userName : $("#userName").val(),
		nickName : $("#nickName").val(), // 用户名称，可为空
		role : $("#role").val(),
		time : websocketService.getCurrentTime(),
		key : websocketService.getWebSocketKey(),
		custominfo : "" // json格式字符串，可选，自定义用户信息
	};

	if (ws.checkBrowser()) {

	} else {
		console.log("您的浏览器不支持WebSocket");
	}

	var addSocket = function() {
		ws.init(option);
	}

	var closeSocket = function() {
		ws.closeWebSocket();
	}

	var loginSocket = function() {
		ws.userLogin(option);
	}

	var logout = function() {
		ws.logout();
	}

	function onOpen(evt) {
		console.log(evt);
		$("#operateBut .btn").removeClass('disabled');
		writeToScreen("<span style='color:red'>连接成功，现在你可以发送信息啦！！！</span>");
	}

	function onClose(evt) {
		writeToScreen("<span style='color:red'>websocket连接已断开!!!</span>");
	}

	function onMessage(evt) {
		writeToScreen('<span style="color:blue">服务端回应&nbsp;' + formatDate(new Date())
				+ '</span><br/><span class="bubble">' + evt.data + '</span>');
	}

	function onError(evt) {
		writeToScreen('<span style="color: red;">发生错误:</span> ' + evt.data);
	}

	function doSend() {
		var message = $("#message").val();
		if (message == '') {
			alert("请先填写发送信息");
			$("#message").focus();
			return false;
		}
		if (ws.checkWebsocket()) {
			$("#message").val('');
			writeToScreen('<span style="color:green">你发送的信息&nbsp;' + formatDate(new Date()) + '</span><br/>' + message);
			ws.sendSocketMessage(message);
		}

	}

	function writeToScreen(message) {
		var div = "<div class='newmessage'>" + message + "</div>";
		var d = $("#output");
		var d = d[0];
		var doScroll = d.scrollTop == d.scrollHeight - d.clientHeight;
		$("#output").append(div);
		if (doScroll) {
			d.scrollTop = d.scrollHeight - d.clientHeight;
		}
	}

	function en(event) {
		var evt = evt ? evt : (window.event ? window.event : null);
		if (evt.keyCode == 13) {
			doSend()
		}
	}

	function clean() {
		$("#output").empty();
	}
</script>
</html>