<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log_home" value="D:/DevLog/SpringBoot2-chapter14-shiro" />
	<property name="log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - %msg%n" />

	<!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 系统日志输出 -->
	<appender name="syslog_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log_home}/sys_info.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_home}/sys-info.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>
				<pattern>${log.pattern}</pattern>
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<!-- 按照日志级别进行过滤 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<!-- 只收集INFO级别的日志，其他高级别和低级别的日志都放弃 -->
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>	
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	
	<appender name="syslog_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log_home}/sys_error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_home}/sys-error.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<!-- 按照日志级别进行过滤 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<!-- 只收集ERROR级别的日志，其他高级别和低级别的日志都放弃 -->
			<level>ERROR</level>
		</filter>
	</appender>

	<!-- 用户访问日志输出 -->
	<appender name="sys-user" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_home}/sys-user.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_home}/sys-user.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<!-- root是根日志打印器，只有一个，负责整个系统的日志输出  -->
	<logger name="root" level="debug" />
	
	<!--系统操作日志-->
	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="syslog_info" />
		<appender-ref ref="syslog_error" />
	</root>

	<!--系统用户操作日志 -->
	<logger name="sys-user" level="info">
		<appender-ref ref="sys-user" />
	</logger>
</configuration>