<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>RedisWebAdmin</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
</head>

<body>
	<div class="layui-row layui-col-space20">
		<div class="layui-col-md6">
			<table class="layui-table">
				<colgroup>
					<col width="15">
					<col width="20">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<td>IP地址</td>
						<td th:text="${ info.host }"></td>
					</tr>
					<tr>
						<td>端口</td>
						<td th:text="${ info.port }"></td>
					</tr>
					<tr>
						<td>版本</td>
						<td th:text="${info.redis_version }"></td>
					</tr>
					<tr>
						<td>系统</td>
						<td th:text="${info.os}"></td>
					</tr>
					<tr>
						<td>使用内存</td>
						<td th:text="${info.used_memory_human}"></td>
					</tr>
					<tr>
						<td>运行天数</td>
						<td th:text="${info.uptime_in_days}+天"></td>
					</tr>
					<tr>
						<td>客户端数量</td>
						<td th:text="${info.connected_clients}"></td>
					</tr>
					<tr>
						<td>阻塞的客户端数</td>
						<td th:text="${info.blocked_clients}"></td>
					</tr>
					<tr>
						<td>数据保存时间</td>
<!-- 						<td th:text="${ info.rdb_last_save_time}"></td> -->
<!-- 							<td thSys:text="${info.rdb_last_save_time}"></td> -->
							<td><thSys:pager value="1111"></thSys:pager></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>